a{
    color: #FFFFFF;
    text-decoration: none;
}
a.black{
    color: #141414;
    text-decoration: none;
}

a.yellow{
    color: #C7C287;
    text-decoration: none;
}

li{
    list-style:none
}

ul{
    padding-left:0
}

h2{
    margin: 0px;
    font-weight: normal;
}
p{
    margin: 0px;
}


button{
    width: 171px;
    height: 42px;
    background-color: #141414;
    font-size: 16px;
    color: #FFFFFF;
    display: grid;
    place-items: center;
    margin-top: 24px;
}

.header{
    background: #141414;
    position: fixed;
    display: flex;
    justify-content: space-between;
    height: 57px;
    width: 100%;
    padding: 0px 70px;
    z-index: 10;

}

.title{
    display: flex;
    padding: 13px 0px 14px 0px;
    width: 135px;
    height: 32px;
    
}
.search_box{
    width: 315px;
    border-bottom: 1px solid #6A6A6A;
    margin-bottom: 17.7px;
}
.search{
    display: flex;
    margin-top: 16px;
    justify-content: space-between;
}

.search_form{
    background-color: #141414;
    border: none;
    color: #FFFFFF;
}

.header_nav_box{
    display: flex;
    margin: 19px 0px;
    justify-content: space-around;
}

:root {
    --background-navbar: #141414(55, 55, 55, 0.98);
  }
  
  .header_nav_box li{
    margin-right: 23px;
  }


.menu {
    list-style: none;
    width: 100%;
    height: auto;
    padding: 0 0 10px 0;
    clear: both;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
    transform: scale(1, 0);
    transform-origin: top left;
    background-color: #141414;
  }
  
  .menu-btn:checked ~ .menu {
    transform: scale(1, 1);
    transform-origin: top left;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  }
  
  .menu a {
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 16px;
    text-transform: capitalize;
    color: #ddd;
    opacity: 0;
    transition: 0.5s;
  }
  
  .menu li {
    border-top: 1px solid rgb(75, 75, 75);
    padding: 15px 0;
    margin: 0 54px;
    opacity: 0;
    transition: 0.5s;
  }
  
  .menu-btn:checked ~ .menu a,
  .menu-btn:checked ~ .menu li {
    opacity: 1;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.2s;
  }
  
  .menu-btn {
    display: none;
  }
  
  .menu-icon {
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-top: 9px;
    padding-bottom: 14px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  .navicon {
    background: #ddd;
    display: block;
    height: 2px;
    width: 26px;
    position: relative;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  }
  
  .navicon:before,
  .navicon:after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    background: #ddd;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  }
  
  .navicon:before {
    top: 9px;
  }
  
  .navicon:after {
    bottom: 9px;
  }
  
  .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before {
    top: 0;
  }
  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    bottom: 0;
  }
  
  .menu-btn:checked ~ .menu-icon .navicon {
    background: rgba(0, 0, 0, 0);
    transition: 0.2192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  }

  .navtext-container {
    width: 100%;
    height: 52px;
    position: absolute;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navtext {
    position: absolute;
    text-transform: uppercase;
    color: #ddd;
    letter-spacing: 4px;
    font-size: 20px;
  }


body {
    margin: 0;
    width: 100%;
 }  
.main{
    height: 100%;
    width: 100%;
}
.main_photo{
    width: 100%;
    margin-bottom: 23px;
}

.border{
    text-align: center;
    display: flex;
    justify-content: center;
}
.line_1{
    width: 91px;
    height: 4px;
    background-color: #141414;
    margin-right: 31px;
}
.line_2{
    width: 91px;
    height: 4px;
    margin-right: 31px;
    background-color: #DCDCDC;
}

.main2{
    display: flex;
    justify-content: center;
    width: 100%;
}
.main2_text_box{
    margin-top: 119px;
    margin-right: 52px;
}

.main2_text{
    font-size: 74px;
    color: #C7C287;
}
.main2_photo_box{
    margin-top: 164px;
}
.main2_sub_text_box{
    display: flex;
}
.main2_sub_text_left{
    font-size: 66px;

}
.main2_sub_text_right{
    font-size: 40px;
    margin-top: 28px;
}

.main2_sub_text{
    margin-top: 40px;
    font-size: 14px;
}

.main2_photo_1{
    position:relative;
}
.main2_photo_2{
    position:absolute;
    top: 419px;
    right: 344px;
}
.main3{
    margin-top: 128px;
    display: flex;
    justify-content: center;
}
.main3_content{
    display: flex;
    justify-content: center;
    margin-top: 280px;
    position:relative;
}

.main3_container {
    margin-top: 30px;
    max-width: 800px;
    position: relative;
    width: 100%;
  }

  .main3_text_color,
  .main3_text {
    font-size: 74px;
    height: calc(100% - 40%);
    overflow: hidden;
    position: absolute;
    top: 25%;
    left: 50%;
  }
  .main3_text_color {
    width: 20%; 
  }
  .main3_text {
    margin-left: 20%;
    width: 50%;
  }
  .main3_text_color span,
  .main3_text span {
    position: absolute;
  }
  .main3_text_color span {
    color: #FFFFFF;
  }
  .main3_text span {
    color: #C7C287;
    left: -40%;
  }
  .main3_text_color span {
    width: 500%;
  }

.main3_sub_text_left{
    font-size: 62px;
    color: #000000;
}

.main3_sub_text_box{
    display: flex;
    height: calc(100% - 40%);
    position: absolute;
    top: 40%;
    left: 50%;
}

.main3_sub_text_right{
    font-size: 40px;
    margin-top: 23px;
}

.main3_sub_text_left{
    font-size: 62px;
}

.main3_sub_text_under{
    margin-left: 84px;
    margin-top: 363px;
    
}

.main3_button{
    margin-top: 24px;
    margin-left: 122px;
}

.main4{
    font-size: 62px;
    color: #141414;
    text-align: center;
    margin-top: 192px;
}
.main5{
    margin-top: 4px;
}
.main5_box{
    display: flex;
    justify-content: center;
}
.item_box{
    margin-top: 44px;
    margin-right: 41px;
}

.item_photo{
    width: 207px;
    height: 268px;
   
}

.item_text{
    display: flex;
}

.footer{
    margin-top: 122px;
    width: 100%;
    height: 115px;
    background-color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.footer_nav_box{
    color: #FFFFFF;
    display: flex;
    position: absolute;
    right: 70px;
    bottom: 31px;
    align-items: center;
    justify-content: space-around;
    text-align: justify;
    text-align-last: justify;
} 

.footer_nav_box li{
    margin-right: 23px;
    font-size: 12px;
}