.header{
    background: aqua;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 57px;
    padding-left: 70px;
}
.title{
    display: flex;
    padding: 13px 0px 14px 0px;
    width: 135px;
    height: 32px;
    
}
.search{
  
}
.seach_1{
    display: flex;
}
.etc{
    display: flex;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: hidden;
 }  